<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.framestudy.spring_mybatis.relationmag.mapper.StudentMapper">
	
	<resultMap type="Students" id="stuMap">
		<id property="id" column="id" javaType="int"/>
		<result property="name" column="stu_name" javaType="java.lang.String"/>
		
		<!-- 一 的一方 用 association -->
		<association property="cla" javaType="Classes" column="fk_cla_id" fetchType="lazy" select="getClassesById"></association>
	</resultMap>
	
	<!-- 预加载？？？？？？？？？ -->
	<select id="getStudentWithClassByStudentId" resultMap="stuMap">
		select * from t_stus where id = #{id}
	</select>

	<select id="getClassesById" resultType="Classes">
		select id as id, cla_name as name from t_class where id = #{id}
	</select>




</mapper>