<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.framestudy.spring_mybatis.relationmag.mapper.WifeMapper">

	<resultMap type="Wife" id="wifeMap">
		<id property="id" column="id" javaType="int"/>
		<result property="name" column="wife_name" javaType="java.lang.String"/>
		
		<!-- association 关联或关系 -->
		<!-- fetchType="lazy" 关联对象的加载策略：懒加载（延迟加载） -->
		<association property="hus" javaType="Husband" column="fk_hus_id" fetchType="lazy" select="org.framestudy.spring_mybatis.relationmag.mapper.HusbandMapper.getHusbandByFkHusId"></association>
	</resultMap>	
	
	<select id="getWifeWithHusbandByWifeId" resultMap="wifeMap">
		select * from t_wife where id = #{id}
	</select>
	
	
</mapper>